@model MyWeb.Models.PhoneMaster

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <main role="main" class="pb-3" style="font-size:larger">
        <h1>新增手機資料</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PhoneType" class="control-label"></label>
                        <input asp-for="PhoneType" class="form-control" />
                        <span asp-validation-for="PhoneType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brand" class="control-label"></label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="ReleaseDate" class="control-label"></label>
                        <input asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RunSystem" class="control-label"></label>
                        <input asp-for="RunSystem" class="form-control" />
                        <span asp-validation-for="RunSystem" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RunType" class="control-label"></label>
                        <input asp-for="RunType" class="form-control" />
                        <span asp-validation-for="RunType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ram" class="control-label"></label>
                        <input asp-for="Ram" class="form-control" />
                        <span asp-validation-for="Ram" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rom" class="control-label"></label>
                        <input asp-for="Rom" class="form-control" />
                        <span asp-validation-for="Rom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Battery" class="control-label"></label>
                        <input asp-for="Battery" class="form-control" />
                        <span asp-validation-for="Battery" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ScreenRes" class="control-label"></label>
                        <input asp-for="ScreenRes" class="form-control" />
                        <span asp-validation-for="ScreenRes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BackCamRes" class="control-label"></label>
                        <input asp-for="BackCamRes" class="form-control" />
                        <span asp-validation-for="BackCamRes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FrontCamRes" class="control-label"></label>
                        <input asp-for="FrontCamRes" class="form-control" />
                        <span asp-validation-for="FrontCamRes" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TransPort" class="control-label"></label>
                        <input asp-for="TransPort" class="form-control" />
                        <span asp-validation-for="TransPort" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Weight" class="control-label"></label>
                        <input asp-for="Weight" class="form-control" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" type="file" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label">圖片上傳</label>
                        <input type="file" name="file" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="新增" class="btn btn-lg btn-success" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="BackIndex"><i class="far fa-hand-point-left"></i>返回</a>
        </div>
    </main>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
